body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 5px;
}

.product-price {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.product button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buy-btn {
    background-color: #28a745;
    color: white;
}

.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-btn button {
    background-color: #007bff;
    color: white;
    margin: 0 5px;
}

.quantity-btn span {
    margin: 0 10px;
}

.view-order-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

#order-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.order-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
