<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jqeury.js"></script>
    <script src="js/homescript.js"></script>
    <link rel="stylesheet" href="w3.css">
</head>
<body>
    

    <label class="w3-text-blue"><b>Enter Your Notification Here</b></label>
    <input class="w3-input w3-border" type="text" name="description" required>

    <script>

    </script>
</body>
</html>